html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* gameContainer helps separate pokemonBattleArea and pokeSelect */
#gameContainer {
    display: flex;
    justify-content: flex-start;
    background-color: #dfdfdfe8;
    border-radius: 4px;
}
    /* Styling code for this column */
    #Stats {
        width: 90px;
        padding: 10px;
        margin: 10px;
        border-radius: 4px;
        background-color: #2e2c2c;
        color: whitesmoke;
    }
        #myHealthPoints {
            color: #df1818;
        }
        #enemiesHealthPoints {
            color: #df1818;
        }
        
    /* Styling code for this column */
    #pokemonBattleArea {
        display: flex;
        flex-direction: column;
        background-color: #df1818;
        border-radius: 4px;
        padding: 10px;
        margin: 10px;
        height: 400px;
        width: 400px;
    }

        #pokeBattleField {
            height: 85%;
            width: 100%;
            background-image: url("../images/background.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 4px;
        }

            /* Enemy Pokemon */
            #enemyPokemonContainer {
                height: 50%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: flex-end;
                flex-direction: column;
            }
            .enemyPokeName {
                margin-right: 10%;
                padding: 5px;
            }
            #enemyPokemon {
                height: ;
                width: ;
            }
                .ePPic {
                    height: 175px;
                    margin-bottom: -50px;
                }

            /* Chosen Pokemon */
            #chosenPokemonContainer {
                height: 50%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
            }
            #chosenPokeName {
                padding: 5px;
            }
            #chosenPokemon {
                margin-bottom: -14px;
            }
                .cPPic {
                    height: 100px;
                }
                .cPPic.squirtle {
                    margin-bottom: -23px;
                }
                .cPPic.pikachu {
                    margin-bottom: -3px;
                }
                .cPPic.charmander {
                    margin-bottom: -9px;
                }
                .cPPic.bulbasaur {
                    margin-bottom: -3px;
                }

        #pokeOptions {
            height: 15%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
            #attack {
                width: 50px;
                border-radius: 4px;
            }
            #reset {
                width: 50px;
                border-radius: 4px;
            }

    /* Styling code for this column */
    #pokeSelect {
        width: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #2e2c2c;
        border-radius: 4px;
        padding: 10px;
        margin: 10px;
    }
        .buttonIcons {
            display: flex;
            justify-content: space-around;
            background-color: white;
            border-radius: 10px;
        }
        .pokeIcons {
            padding: 5px;
            height: 50px;
            width: 55px;
        }